body {
	font-family: 'Raleway', sans-serif;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.7s;
    -moz-animation-duration:0.7s;
    animation-duration:0.7s;
}

.fade-in.slow {
    animation-delay:.4s;
}

canvas {
    position: absolute;
    top: 0
    left: 0;
    opacity: .4;
    height: 498px;
    width: 1437px;
}

h1, h2, li {
	font-weight: 700;
}

h1 {
	letter-spacing: 3px;
	color: #242324; 	
	font-size: 8px;	
	margin: 0;
	padding-top: 10px;
	position: relative;
	text-transform: uppercase;	
	transition: all .2s ease-in-out;
}

h2 {
	color: #242324;
	font-size: 45px; 	
	position: relative;
	letter-spacing: 3px;
	text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 2px;
    word-spacing: 4px;
}

a {
    color: #242324;
	text-decoration: none;
    /*padding: 15px 25px;*/
}

li a {
	color: #242324;
	letter-spacing: 3px;
	font-size: 8px; 
	text-decoration: none;
	margin: 15px;
	padding: 5px;
	transition: all .2s ease-in-out;
	position: relative;
	text-transform: uppercase;
}

nav {
	margin-top: 20px;
}

img {
	width: 100%;
}

p {
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;
}

.projects-images-wrapper {
	width: 100%;
	opacity: 1;
	transition: all .2s ease-in-out;			
}

.projects-images-wrapper:hover {
	opacity: .8;
}

.hover:hover {
	color: #999999;
	text-decoration: none;
}

li a:hover {
	color: #999999;
	text-decoration: none;
}

/*a:hover {
    text-decoration: none;
    color: #242324;
}*/

.no-hover:hover {
    color: #242324;
}

a:link {
    text-decoration: none;
    color: #242324;
}

a:visited {
    text-decoration: none;
    color: #242324;
}

.global-header {
	background: #EDEDEC;
	width: 100%; 
	padding-bottom: 440px;
}

.global-header header {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	height: 60px;
}

.page-title {
	display: inline-block;
	width: 335px;
    height: 38px;	
}

.nav-wrapper {
	display: inline-block;
	float: right;
	/*margin-top: 30px;*/
	width: 550px;
}

.main-nav ul {
	float: right;		
}

.main-nav li {
	display: inline;
}

/*ROTATING LINES STYLES -----------------------*/

/*.line-wrapper {
	margin-left: 700px;
	margin-top: -905px;
}

@-webkit-keyframes rotating {
	0%{
    }
    50% {
    -webkit-transform: rotate(-2deg);
    }
    100% {
    }
}

.rotating {
    -webkit-animation: rotating 4s linear infinite;
}

.line {
	height: 2000px;
	width: 1px;
	color: black;
	display: inline;
	float: left;
	margin: 0 10px;
}

.one {
	-webkit-animation: color-change 4s infinite;
  	animation: color-change 4s infinite;
  	transition: all 3s ease;
  	transform: rotate(280deg);
}

.two {
	-webkit-animation: color-change 4s infinite;
  	animation: color-change 4s infinite;
  	transition: all 3s ease;
  	transform: rotate(2deg);
}

.three {
	-webkit-animation: color-change 4s infinite;
  	animation: color-change 4s infinite;
  	transition: all 3s ease;
  	transform: rotate(2deg);
}

.four {
	-webkit-animation: color-change 4s infinite;
  	animation: color-change 4s infinite;
  	transition: all 5s ease;
  	transform: rotate(2deg);
}

.five {
	-webkit-animation: color-change 4s infinite;
  	animation: color-change 4s infinite;
  	transition: all 3s ease;
  	transform: rotate(2deg);
}

@keyframes color-change {
  	0% {
    background-color: #CED1D0;
  	}
  	50% {
    background-color: #E2E5E4;
	}
	100% {
    background-color: #CED1D0;
	}	
} */

/*ROTATING LINES STYLES -----------------------*/

.about-image-wrapper {
	padding: 0 100px;
}

.subtitle-wrapper {
	position: absolute;
	/*width: 100%;*/
	padding-top: 150px;	
}

.projects {
	margin-top: 40px;
}

.about-wrapper {
    margin-top: 50px;
}

.resume-button {
    top: 100px;
    text-align: right;
}

/*BUTTON --------------------------------------*/

.button {
    border-radius: 4px;
    background-color: #EDEDEC;
    border: none;
    color: #242324;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: #CCCCCC;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
</style>

.contact-wrapper {
    margin-top: 50px;   
}

.col-sm-12 {
    margin-top: 50px;
}

.col-sm-1 {
    line-height: 30px;
}

.contact-list {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    letter-spacing: 2px;
}

.email-style {
    text-decoration: none;
}

.contact-title {
    margin-right: 40px;
    color: #999999;
    text-transform: uppercase;
}

.linkedin-blue:hover {
    color: #1D87BE;
}

/*.products-wrapper {
	overflow: hidden;
	margin-left: 159px;
	margin-top: 35px;
}*/

/*.image {
  	background: white;
}*/	

@media screen and (min-width: 480px) {
	.global-header header {
		max-width: 510px;
	}
}

@media screen and (min-width: 768px) {
	.global-header header {
		max-width: 800px;
	}
}

@media screen and (min-width: 992px) {
	.global-header header {
		max-width: 1020px;
	}
}

@media screen and (min-width: 1200px) {
	.global-header header {
		max-width: 1230px;	
	}	
	.container {
	  width: 1100px;
	}
}

@media screen and (min-width: 1400px) {
	.global-header header {
		max-width: 1430px;
	}
}






